
<!--
<hello name="{{ name }}"></hello>


<app-apply-panel></app-apply-panel>


<div>
	<div>
		<input  />
  </div>
	</div>

	<div>
		<div>
			<input disabled="true" />
  </div>
		</div>

		<div>
			<div>
				<input hidden="true" />
  </div>
			</div>

			<div>
				<div>
					<input readonly/>
  </div>
				</div>

				<select  name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>



				<div>
					<div>
						<!--	<input focusNextId="applybuttonparent" /> 
						<input focusNextId="applybutton" />
		</div>
					</div>

					<br/>

					<app-chip-demo></app-chip-demo>

					<br/>
          -->

					<app-number-input></app-number-input>